<%#

Render a single user as a Bootstrap card.

@param [User] user
  The user to be displayed

%>

<div class="col-md-3">
  <div class="card mb-3 shadow-sm">
    <a href="<%= user_path(user) %>">
      <%= display_thumbnail example_image_for_user(user) %>
      <div class="text-muted rounded border border-dark" style="background-color:#fff;padding:1px 8px 4px 8px;position:absolute;top:8px;left:8px;"><%= user.username %></div>
    </a>
  </div>
</div>
