<section class="jumbotron text-center">
  <h1 class="jumbotron-heading">Join us!</h1>
  <p class="lead text-muted">You're only a minute away from sharing great pics with your friends.<br>Just fill out your information, and then start creating galleries!</p>
  <%= render 'users/form', submit_text: 'Sign me up' %>
</section>
