<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading mb-5">Error: 404</h1>
    <p class="lead text-muted">The page you were looking for doesn't exist.</p>
    <p class="lead text-muted">You may have mistyped the address or the page may have moved.</p>
  </div>
</section>
