// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn_image_nav {
  width: 90px;
  padding: 12px;
}
.btn_image_nav_back {
  width: 180px;
}
#image_full {
  position: relative;
}
#image_controls, #image_controls_tools {
  position: absolute;
  z-index: -1;
  padding: 0;
  right: 10px;
}
#image_controls {
  top: 10px;
}
#image_controls_tools {
  top: 58px;
}
#image_full:hover > #image_controls, #image_full:hover > #image_controls_tools {
  z-index: 1;
}
#image_full a {
  width: 60px;
}
