<%#

Render a single image as a Bootstrap card.
This should be a thumbnail.

@param [Image] image
  The image to be displayed

%>
<div class="col-md-3">
  <div class="card mb-3 shadow-sm">
    <a href="<%= image_path(image) %>">
      <%= display_thumbnail(image) %>
    </a>
  </div>
</div>
